<span class="input-container">
    <label class="input-container__label" for="{{name}}">{{title}}</label>
    <input class="input-container__input"
            type="{{type}}" 
            id="{{name}}" 
            name="{{name}}">
</span>
